body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  text-align: center;
}

/****** Navbar Section ******/
nav {
  background-color: transparent;
}

nav .navbar-nav a.nav-link {
  color: #777;
}

nav .navbar-nav a.nav-link:hover {
  color: #528bff;
}

nav .navbar-nav .active a.nav-link {
  color: #444444;
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/****** Header Section ******/
header {
  height: 80vh;
  color: #fff;
  padding: 200px 0;
  background-size: cover;
  background-position: center;
}

header .blankDiv {
  height: 200px;
}

header .header-title {
  float: right;
  margin: 5% auto;
  width: 100%;
}

header .header-title h1{
  font-size: 4.5rem;
}

/****** About Section ******/
.about {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 100px 0;
  font-size: 1.125rem;
}

/****** Coach Section ******/
.coach {
}

/****** Citation Section ******/
.citation {
  width: 100%;
  padding: 100px 0;
  color: #fff;
  background-size: cover;
  background-image: url("../img/bg_citation.jpg");
  background-position: center;
}

/****** News Section ******/

/****** Class Schadule Section ******/

/****** Pricing Section ******/
.pricing {
  min-height: 500px;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 100px 0;
  color: #fff !important;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg_pricing.jpg");
}

.pricing h1 {
  font-size: 2.75rem;
  font-weight: 400;
}

@media only screen and (min-width: 992px) {
  .pricing .middle-price {
    height: 400px;
  }
}

.pricing .text-h4 {
  font-size: 1rem;
  margin-bottom: .5em;
  margin-top: .3em;
  font-weight: 400;
}

.pricing .bg-red {
  background: linear-gradient(#e56464, #e54747);
}

.pricing .bg-gra {
  background: linear-gradient(#525252, #3e3e3e);
}

.pricing .font-weight-light {
  font-weight: 300;
}

.pricing img {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/****** Footer Section ******/
footer {
  color: #fff;
  background-color: #232a35;
}

footer .container {
  margin: 0% 10%;
  display: flex;
}

footer .copyright {
  background-color: #232a35;
  padding: 10px;
  color: #d3d7e3;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}

footer a:link {
  text-decoration: none;
  color: #f48460;
}

footer a:hover {
    color: #fff;
}

/* *********** */
.fdb-block h3, .fdb-block .text-h3 {
  font-size: 1.125rem;
  margin-bottom: .5em;
  margin-top: .3em;
  font-weight: 400;
}

.fdb-block {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 100px 0;
  color: #444444;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #FFFFFF;
}

.fdb-block h1 {
  font-size: 2.75rem;
  margin-bottom: .5em;
  margin-top: .3em;
  font-weight: 400;
}

.fdb-block h4, .fdb-block .text-h4 {
  font-size: 1rem;
  margin-bottom: .5em;
  margin-top: .3em;
  font-weight: 400;
}

.fdb-block .font-weight-light {
  font-weight: 300;
}

.fdb-block img {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.fdb-block img + p, .fdb-block img + h3, .fdb-block img + h4 {
  margin-top: 20px;
}

.fdb-block img + h1, .fdb-block img + h2 {
  margin-top: 40px;
}

.fdb-block .col-fill-left {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.fdb-block .col-fill-left + div {
  position: relative;
  z-index: 2;
}

.fdb-block .col-fill-right {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.fdb-block .col-fill-right + div {
  position: relative;
  z-index: 2;
}

.bg-gray {
  background-color: #fafafa;
  color: #444444;
}
