body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
  padding: 0;
}

.hashtag {
  color: #e54747;
  text-shadow: 1px 1px 1px #000000;
}

/****** Navbar Section ******/
nav {
  padding: 50px 5%;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: linear-gradient(180deg, #000 0, transparent);
}

nav .navbar-nav a.nav-link {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 1px #000000;
}

nav .flag {
  vertical-align: top;
}

nav .navbar-nav .active a.nav-link {
  color: #e54747;
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media only screen and (min-width: 1000px) {
  nav .nav-item {
    margin: auto 10px;
  }
}

@media only screen and (max-width: 1080px) {
  nav .navbar-nav a.nav-link {
    font-size: 15px;
  }
}

/****** Header Section ******/
header {
  text-align: center;
  max-height: 100vh;
  color: #fff;
  margin: auto;
  text-transform: uppercase;
}

header img {
  width: 100%;
  height: 100vh;
  background-position: center;
  object-fit:cover;
}

header h1 {
  font-size: 90px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #000000;
}

header h3 {
  text-shadow: 1px 1px 1px #000000;
}

header .mySlides {
  display:none;
}

header .header-text {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 80%;
  font-weight: 400;
  transform: translate(-50%,-50%);
}

@media only screen and (max-width: 1270px) {
  header h1 {
    font-size: 60px;
  }

  header h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 835px) {
  header h1 {
    font-size: 40px;
  }

  header h3 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 560px) {
  header h1 {
    font-size: 30px;
  }

  header .header-text {
    width: 60%;
  }
}

/****** About Section ******/
.about {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 100px 0;
  font-size: 1.125rem;
}

@media only screen and (max-width: 767px) {
  .about h1{
    font-size: 1.5rem;
  }

  .about p {
    font-size: 15px;
  }
}

/****** Coach Section ******/
.fdb-block .col-fill-left {
  width: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.fdb-block .col-fill-left + div {
  position: relative;
  z-index: 2;
}

.fdb-block .col-fill-right {
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.fdb-block .col-fill-right + div {
  position: relative;
  z-index: 2;
}

/****** Citation Section ******/
.citation {
  text-align: center;
  width: 100%;
  padding: 100px 0;
  color: #fff;
  background-size: cover;
  background-image: url("../img/bg_citation.jpg");
  background-position: center;
}

.citation h1{
  font-size: 2.4rem;
}

@media only screen and (max-width: 767px) {
  .citation {
    padding: 50px 0;
  }

  .citation h1{
    font-size: 1.5rem;
  }

  .citation p {
    font-size: 15px;
  }
}

/****** News Section ******/

/****** Class Schadule Section ******/

/****** Pricing Section ******/
.pricing {
  text-align: center;
  min-height: 500px;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 100px 0;
  color: #fff !important;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/bg_pricing.jpg");
}

.pricing h1 {
  font-size: 2.75rem;
  font-weight: 400;
}

.pricing .bg-gray {
  padding: 3rem;
  background-color: #fafafa;
  color: #444444;
}

.pricing .text-bold {
  font-size: 1rem;
  margin-bottom: .5em;
  margin-top: .3em;
  font-weight: 400;
}

.pricing .bg-red {
  background: linear-gradient(#e56464, #e54747);
}

.pricing .bg-gra {
  background: linear-gradient(#525252, #3e3e3e);
}

.pricing .font-weight-light {
  font-weight: 300;
}

.pricing img {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

@media only screen and (min-width: 992px) {
  .pricing .middle-price {
    height: 400px;
  }
}

@media only screen and (max-width: 991px) {
  .pricing .bg-gray {
    padding: 1rem;
  }
}

@media only screen and (max-width: 767px) {
 .pricing {
   padding: 50px 0;
 }

 .pricing h2 {
   font-size: 1.5rem;
 }

 .pricing p {
   font-size: 0.8rem;
   margin-bottom: 0rem;
 }
}

@media only screen and (max-width: 575px) {
 .pricing .text-center {
   padding: 0 10% 20px;
 }

 .pricing p {
   font-size: 1rem;
   margin-bottom: .5rem;
 }
}

/****** Gallery Section ******/
.gallery {
  text-align: center;
  -webkit-font-smoothing: antialiased;
  padding: 100px 0;
  color: #232a35;
}

.gallery h1 {
  font-size: 2.75rem;
  font-weight: 400;
}

/****** Footer Section ******/
footer {
  color: #fff;
  background-color: #232a35;
  -webkit-font-smoothing: antialiased;
  padding: 100px 0 50px;
}

footer h4 {
  text-transform: uppercase;
  font-weight: 700;
}

footer .contacts {
  color: #d3d7e3;
}

footer .contacts p {
  margin: 0;
  padding: 0;
}

footer .contacts a {
  margin-right: 30px;
}

footer .contacts a:link {
  text-decoration: none;
  color: #d3d7e3;
}

footer .contacts a:hover {
  color: #e54747;
}

footer .contacts a span:hover {
  color: #d3d7e3;
}

footer .iconSocial{
  font-size: 40px;
  margin: 20px 0px 5px;
  color: #e54747;
}

footer .oppen-hours {
  max-width: 250px;
}

footer .oppen-hours ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none outside none;
  color: #d3d7e3;
}

footer .oppen-hours li {
  padding-top: 0;
  padding: 8px 0;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
}

footer .right {
  float: right;
  font-size: .84375rem;
}

@media only screen and (max-width: 767px) {
  footer {
    padding: 50px 0;
  }

  footer .contacts {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 575px) {
  footer .oppen-hours {
    margin: auto;
    padding-bottom: 50px;
  }

  footer .cont {
    text-align: center;
  }

  footer .contacts a {
    margin: auto 20px;
  }
}

/****** Copyright Section ******/
.copyright {
  background-color: #202630;
  padding: 10px;
  color: #d3d7e3;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}

.copyright p {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.copyright p a{
  -webkit-font-smoothing: auto;
}

.copyright a:link {
  text-decoration: none;
  color: #e54747;
}

.copyright a:hover {
    color: #d3d7e3;
}

/* *********** */
.fdb-block h3, .fdb-block .text-h3 {
  font-size: 1.125rem;
  margin-bottom: .5em;
  margin-top: .3em;
  font-weight: 400;
}

.fdb-block {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  padding: 100px 0;
  color: #444444;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #FFFFFF;
}

.fdb-block h1 {
  font-size: 2.75rem;
  margin-bottom: .5em;
  margin-top: .3em;
  font-weight: 400;
}

.fdb-block h4 {
  font-size: 1rem;
  margin-bottom: .5em;
  margin-top: .3em;
  font-weight: 400;
}
